<div class="text-center mb-4 mt-5">
  <h1 class="h3 mb-4 font-weight-normal">Reset Password</h1>
  <h2 class="h6 mb-4 font-weight-normal text-muted">Please choose a new password</h2>
  <form class="center-page" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" >
    <div formGroupName="passwordGroup">
      <div class="form-label-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
      </div>
      <alert type="danger" *ngIf="password.invalid && (password.dirty || password.touched)">

        <div *ngIf="password.errors.required">
          Password is required.
        </div>

        <div *ngIf="password.errors.minlength">
          Password must be at least 8 characters.
        </div>
      </alert>

      <div class="form-label-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password">
      </div>
      <alert type="danger" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">

        <div *ngIf="confirmPassword.errors.required">
          Confirm Password is required.
        </div>

        <div *ngIf="confirmPassword.errors?.MatchPassword">
          Passwords do not match.
        </div>
      </alert>

    </div>

    <spinner [show]="loading"></spinner>
    <alert type="danger" *ngIf="resetPasswordError">
      {{ resetPasswordError }}
    </alert>
    <alert type="success" *ngIf="resetPasswordSuccess"> 
      {{ resetPasswordSuccess }}
      Redirecting to JSE student portal home
    </alert>
    <spinner [show]="resetPasswordSuccess"></spinner>
    <div style="padding-top:20px"> 
      <button class="btn btn-lg btn-primary" [disabled]="!resetPasswordForm.valid" type="submit">Save</button>
    </div>
  </form>
</div>

