<div class="text-center mb-4 mt-5">
  <h1 class="h3 mb-4 font-weight-normal">Login Credentials</h1>
  <h2 class="h4 mb-4 font-weight-normal text-muted">Please choose a username and password to complete your JSE online sign up.</h2>
    <form class="center-page" [formGroup]="loginCredentialsForm" (ngSubmit)="onSubmit()" >
      <div class="form-label-group">
        <label for="userName">User Name</label>
            <input type="text" class="form-control" id="userName"
                   formControlName="userName" placeholder="User Name">
      </div>
      <div *ngIf="userName.pending">Validating <spinner [show]="userName.pending"></spinner></div>
        
        <alert type="danger" *ngIf="userName.invalid && (userName.dirty || userName.touched)">

          <div *ngIf="userName.errors.required">
            User Name is required.
          </div>

          <div *ngIf="userName.errors.minlength">
            User Name must be at least 6 characters.
          </div>

          <div *ngIf="userName.errors?.userNameIsNotUnique">
            User Name is already taken.
          </div>
        </alert>
      
      <div formGroupName="passwordGroup">
        <div class="form-label-group">
          <label for="password">Password</label>
          
            
              <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
           
        </div>
          <alert type="danger" *ngIf="password.invalid && (password.dirty || password.touched)">

            <div *ngIf="password.errors.required">
              Password is required.
            </div>

            <div *ngIf="password.errors.minlength">
              Password must be at least 8 characters.
            </div>
          </alert>
        
        <div class="form-label-group">
          <label for="confirmPassword">Confirm Password</label>
         
           
              <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password">
            
          </div>
          <alert type="danger" *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">

            <div *ngIf="confirmPassword.errors.required">
              Confirm Password is required.
            </div>

            <div *ngIf="confirmPassword.errors?.MatchPassword">
              Passwords do not match.
            </div>
          </alert>
      
      </div>
      <spinner [show]="loading"></spinner>
      <alert type="danger" *ngIf="loginCredentialsError">
        {{ loginCredentialsError }}
      </alert>
      <alert type="success" *ngIf="loginCredentialsSuccess"> 
        {{ loginCredentialsSuccess }}
        Redirecting to JSE student portal home
      </alert>
      <spinner [show]="loginCredentialsSuccess"></spinner>
      <div style="padding-top:20px"> 
        <button class="btn btn-lg btn-primary" [disabled]="!loginCredentialsForm.valid" type="submit">Save</button>
      </div>
    </form>
  </div>
