  <section>
    <div layout="column" layout-align="center center"  style="text-align:center">
      <h3>Identification</h3>
      <form [formGroup]="studentLookupForm" (ngSubmit)="onSubmit()" >
        <div class="form-group">
          <input type="hidden" [formControl]="validStudent">
          <label class="sr-only" for="dob">Date of Birth (MM/DD/YYYY)</label>
          <div>
            <mat-form-field>
              <input matInput [matDatepicker]="picker" id="dob" [formControl]="dob" placeholder="Date of Birth">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <mat-error color="red" *ngIf="dob.invalid && (dob.dirty || dob.touched)">

            <div *ngIf="dob.errors.required">
              DOB is required.
            </div>
            
            <div *ngIf="dob.errors.pattern">
              Date of Birth must be MM/DD/YYYY format. {{dob.value}}
            </div>
          </mat-error>
        </div>
        <div class="form-group">
          <label class="sr-only" for="ssn">Last 4 SSN</label>
          <div>
            <mat-form-field>
              <input type="text" matInput class="form-control" id="ssn" formControlName="ssn" placeholder="Last 4 SSN">
            </mat-form-field>
          </div>
          <mat-error *ngIf="ssn.invalid && (ssn.dirty || ssn.touched)">

            <div *ngIf="ssn.errors.required">
              SSN is required.
            </div>
            
            <div *ngIf="ssn.errors.pattern">
              SSN must be the last 4 digits of your SSN.
            </div>
          </mat-error>
        </div>
        <mat-progress-spinner *ngIf="loading" style="margin:0 auto;" mode="indeterminate" diameter="20">
        </mat-progress-spinner>
        <mat-error *ngIf="studentLookupError">
          {{ studentLookupError }}
        </mat-error>
        <div style="color:blue" *ngIf="student"> 
          {{ student.firstName }} {{ student.lastName }}
        </div>1
        <div style="padding-top:20px"> 
          <button style="margin-right: 2px" [disabled]="!(dob.valid && ssn.valid)" type="submit" color="primary" mat-raised-button mat-button>Lookup</button>
          <button style="margin-left: 2px" [disabled]="!student" color="accent" mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </div>  
</section>

