<main role="main">
  <div layout="column" layout-align="center center" style="text-align: center">
    <mat-card>   
      <h2>Online Student Registration</h2>
      <mat-horizontal-stepper linear #stepper>
          <mat-step label="Step 1" [stepControl]="studentLookupForm" [completed]="false">
          <student-lookup-component></student-lookup-component>
        </mat-step>
        <mat-step label="Step 2" [stepControl]="generateConfirmEmailForm" [completed]="false">
          <generate-confirm-email-component></generate-confirm-email-component>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card>
  </div>
</main>



