<div class="text-center mb-4 mt-5">
  <h1 class="h3 mb-4 font-weight-normal">Password Reset</h1>
  <h2 class="h6 mb-4 font-weight-normal text-muted">Please enter your username and we will send you a link to reset your password.</h2>
  <form class="center-page" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" >
    <div class="form-label-group mb-4">
      <label for="userName">User Name</label>
      <input type="text" class="form-control" id="userName"
             formControlName="userName" placeholder="User Name">
      <span class="float-right small"><a href="" (click)="toggleForgotUsernameMessage()">Forgot username</a></span>
    </div>
    
    <alert type="danger" *ngIf="userName.invalid && (userName.dirty || userName.touched)">
      <div *ngIf="userName.errors.required">
        User Name is required.
      </div>
    </alert>
    
    <alert type="danger" *ngIf="showForgotUsernameMessage">
      {{ contact_jse_error_msg }}
    </alert>

    <spinner [show]="loading"></spinner>
    <alert type="danger" *ngIf="sendResetPasswordError">
      {{ sendResetPasswordError }}
      <div *ngIf="sendResetPasswordErrorCode == student_not_found_error_code">
        {{ contact_jse_error_msg }}
      </div>
    </alert>
    <alert type="success" *ngIf="sendResetPasswordSuccess"> 
      {{ sendResetPasswordSuccess }}
    </alert>
    <div style="padding-top:20px"> 
      <button class="btn btn-lg btn-primary" [disabled]="!forgotPasswordForm.valid" type="submit">Send Reset Password Link</button>
    </div>
  </form>
</div>

